// Wide Screens
@include mediaXl {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktop & Laptop
@include mediaLg {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablet
@include mediaMd {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  main {
    align-items: center;
    text-align: center;
  }
}

// Mobile
@include mediaSm {
  p {
    padding: 0;
  }

  i {
    padding: 0;
    justify-self: center;
  }
  h1 {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  main {
    padding: 1rem;
  }
}
